<%- include('../layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/adminStyles/adminSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/adminStyles/category.css" type="text/css">

  </head>

  <body>
    <%- include('../layout/adminNav.ejs') %>

      <div class="d-flex topMargin align-items-center flex-column justify-content-center gap-4">
        <h3 class="mt-5">Category management</h3>
        <h6>
          <% if(locals.success == true){ %>
              <span style="color: rgb(96, 156, 96)"> 
                <%= locals.type %>
                  <b>
                     <%= locals.categoryName %>   
                  </b> <%= locals.action %> succesfully</span>
              </span>
          <% } %>
      </h6>
        <div class="container w-50">

          <div class="mb-3">
            <h4>Add a new category</h4>

            <!-- Form to add category -->
            <form id="categoryForm" method="POST" action="category/add">
              <div class="mb-3">
                <label class="form-label">Category name</label>
                <input id="categoryName" type="text" class="form-control" name="categoryName" required>
              </div>
              <p class="" id="categoryError"></p>
              <button type="submit" class="btn editBtn">Add category</button>
            </form>
          </div>

          <div class="mb-3">
            <h4>Add a new subcategory</h4>
            
            <!-- Form to add subcategory -->
            <form id="subcategoryForm" method="POST" action="category/subadd">
              <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="form-control" name="categoryId" required>
                  <option value="">Select a category</option>
                  <% category.forEach(function(category) { %>
                   <% if (category.isActive) { %>
                    <option value="<%= category._id %>">
                      <%= category.name %>
                    </option>
                    <% } %>
                    <% }); %> 
                </select>
              </div>
              <div class="mb-3">
                <label class="form-label">Subcategory name</label>
                <input id="subcategoryName" type="text" class="form-control" name="subcategoryName" required>
              </div>
              <p class="" id="subcategoryError"></p>
              <button type="submit" class="btn editBtn">Add subcategory</button>
            </form>
          </div>

          <div class="mb-3">
            <h4>Disable a category</h4>

            <!-- Form to disable category -->
            <form method="POST" action="category/disable">
              <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="form-control" name="categoryId" required>
                  <option value="">Select a category</option>
                  <% category.forEach(function(category) { %>
                   <% if (category.isActive) { %>
                    <option value="<%= category._id %>">
                      <%= category.name %>
                    </option>
                    <% } %>
                    <% }); %> 
                </select>
              </div>
              <button type="submit" class="btn disableBtn">Disable category</button>
            </form>
          </div>

          <div class="mb-3">
            <h4>Disable a subcategory</h4>

             <!-- Form to disable subcategory -->
            <form method="POST" action="category/subDisable">
              <div class="mb-3">
                <label class="form-label">Subcategory</label>
                <select class="form-control" name="categoryId" required>
                  <option value="">Select a subcategory</option>
                  <% subcategory.forEach(function(category) { %>
                    <% if (category.isActive) { %>
                    <option value="<%= category._id %>">
                      <%= category.name %>
                    </option>
                    <% } %>
                    <% }); %> 
                </select>
              </div>
              <button type="submit" class="btn disableBtn">Disable category</button>
            </form>
          </div>

          <div class="mb-3">
            <h4>Enable a category</h4>

             <!-- Form to enable category -->
            <form method="POST" action="category/enable">
              <div class="mb-3">
                <label class="form-label">Category</label>
                <select class="form-control" name="categoryId" required>
                  <option value="">Select a category</option>
                  <% category.forEach(function(category) { %>
                   <% if (!category.isActive) { %>
                    <option value="<%= category._id %>">
                      <%= category.name %>
                    </option>
                    <% } %>
                    <% }); %> 
                </select>
              </div>
              <button type="submit" class="btn enableBtn">Enable category</button>
            </form>
          </div>

          <div class="mb-3">
            <h4>Enable a subcategory</h4>

             <!-- Form to enable subcategory -->
            <form method="POST" action="category/subenable">
              <div class="mb-3">
                <label class="form-label">Subcategory</label>
                <select class="form-control" name="categoryId" required>
                  <option value="">Select a subcategory</option>
                  <% subcategory.forEach(function(category) { %>
                    <% if (!category.isActive) { %>
                    <option value="<%= category._id %>">
                      <%= category.name %>
                    </option>
                    <% } %>
                    <% }); %> 
                </select>
              </div>
              <button type="submit" class="btn enableBtn">Enable category</button>
          </div>

          <script src="/validation/admin/category.js"></script>
        </div>
      </div>
  </body>

  </html>