<%- include('../layout/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/adminStyles/adminSignIn.css" type="text/css">
</head>
<body>
    <%- include('../layout/adminNav.ejs') %>
  
 <div class="d-flex flex-column align-items-center justify-content-center gap-4">
  <h3 class="mt-5">Products page</h3>
  <table class="table w-75">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Stock</th>
        <th scope="col">Image</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% products.forEach(function(product) { %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.description %></td>
        <td><%= product.stock %></td>
        <td><%= product.image %></td>
        <td>
          <% if (product.isDisabled == false) { %>
            <span class="badge active badge-success">Enabled</span>
          <% } else { %>
            <span class="badge inactive badge-danger">Disabled</span>
          <% } %>
        </td>
        <td>
          <button type="button" class="btn btn-sm editBtn mr-2">Edit</button>
          <% if (product.isDisabled == false) { %>
            <button type="button" data-user-id=user._id class="btn btn-sm disableBtn" onclick="blockUser('<%= product._id %>')">Disable</button>
          <% } else { %>
            <button type="button" data-user-id=user._id class="btn btn-sm enableBtn" onclick="unblockUser('<%= product._id %>')">Enable</button>
          <% } %>
        </td>
      </tr>
      <% }); %>
    </tbody>
   
  </table>
  <button class="btn  m-5 w-25 enableBtn"><a href="products/add" class="whiteBtn">Add new product</a>  </button>
  </div>
</body>
</html>