<%- include('../layout/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/adminStyles/productsPage.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/adminStyles/adminSignIn.css" type="text/css">
</head>
<body>
<% let orders = reportData.orders %>

  <div class="d-flex  flex-column align-items-center">
    <div class="w-100 d-flex justify-content-center spinnerDiv mb-4 ">
      <div class="spinner d-none"></div>
  </div>
    <div class="table-responsive w-75">
      <span href="coupon/add" class="whiteBtn d-flex justify-content-end gap-2 w-100 mb-3">
        <input class='d-flex align-items-center justify-content-center dateFrom' value='<%= reportData.dateFrom  %>' type="date">
        <input class='d-flex align-items-center justify-content-center dateTo' value='<%= reportData.dateTo  %>'  type="date">
      </span>
      <div class="table-responsive">
        <table class="table table-bordered table-hover">
          <thead >
            <tr>
              <th class='text-center'>Sl. No</th>
              <th class='text-center'>Date</th>
              <th class='text-center'>Order id</th>
              <th class='text-center'>Products</th>
              <th class='text-center'>Payment mode</th>
              <th class='text-center'>Status</th>
              <th class='text-center'>Total</th>
            </tr>
          </thead>
          <tbody class="eachhProduct">
            <% let serialNumber = 1 %>
            <% let total = 0  %>

            <% orders.forEach(order => { %>
              <tr>
                <td class="text-center" style='vertical-align: middle;'><%= serialNumber %> </td>
                <td class="text-center" style='vertical-align: middle;'><%= order.orderDate.getDate() + '/' + (order.orderDate.getMonth() + 1) + '/' + order.orderDate.getFullYear() %></td>
                
                
                
                <td class="text-center" style='vertical-align: middle;'><span class='p-1 border'><%= order._id  %></span></td>
                <td class="d-flex w-100 flex-column gap-2">
                  <div class="d-flex flex-column justify-content-center gap-2">
                    <% order.products.forEach(product => { %>
                      <span class="border p-1"><%= product.product.productName %> x <%= product.quantity %> x ₹<%= product.product.price %> = ₹<%= product.quantity * product.product.price %></span>
                    <% }) %>
                  </div>
                </td>
                <td class="text-center" style='vertical-align: middle;'><%= order.paymentMode  %> </td>
                <td class="text-center" style='vertical-align: middle;'>
                   <%= order.orderStatus  %>
                </td>
                <td class="text-center" style='vertical-align: middle;'>
                  <%= order.total  %>
                  <% total = total + order.total  %>
                </td>
              </tr>
              <% serialNumber++ %>
            <% }); %>
            <tr>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td><b><%= total  %></b></td>
            </tr>
          </tbody>
        </table>
      </div>
      <script src="/javascripts/admin/report.js"></script>
    </div>
  </div>
</body>
</html>
