<%- include('../layout/header.ejs') %>
<link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/adminStyles/adminSignIn.css" type="text/css">
</head>
<body>
    <%- include('../layout/adminNav.ejs') %>
  <h1>User page is here</h1>
 <div>
  <table class="table table-striped table-hover">
    <thead class="thead-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% usersData.forEach(function(user) { %>
       <% if (!user.isAdmin) { %>
        <tr>
          <td><%= user.name %></td>
          <td><%= user.email %></td>
          <td>
            <% if (user.isBlocked == false) { %>
              <span class="badge active badge-success">Active</span>
            <% } else { %>
              <span class="badge inactive badge-danger">Blocked</span>
            <% } %>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-primary mr-2">Edit</button>
            <% if (user.isBlocked == false) { %>
              <button type="button" class="btn btn-sm btn-danger" onclick="blockUser('<%= user._id %>')">Block</button>
            <% } else { %>
              <button type="button" class="btn btn-sm btn-success" onclick="unblockUser('<%= user._id %>')">Unblock</button>
            <% } %>
          </td>
        </tr>
        <% } %>
      <% }); %>
    </tbody>
  </table>
 </div>
  <script src="/javascripts/admin/users.js"></script>
  
</body>
</html>