<%- include('../layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/cart.css" type="text/css">

  </head>
  <%- include('../layout/nav.ejs') %>

      <body class="d-flex align-items-center flex-column marginTop container-fluid gap-4">
          <div class="d-flex col-6 flex-column align-items-center">
            <h3 class="m-0">Checkout</h3>
            <div class="underLine"></div>
          </div>
        
          <!-- Form Starts  -->
          <form action="" method="post" class="d-flex col-6 container-fluid w-75">
            <div class="row d-flex w-100">
              
              <!-- First part -->
          
              <div class="formArea col-6 d-flex flex-column align-items-center justify-content-center">

                <div class="d-flex flex-column w-75 gap-4 p-4">
                  <h4>Choose address <i class="fa-solid fa-caret-down"></i></h4>
                  <% address.address.forEach((address, index) => { %>
                    <div class="border addressArea d-flex justify-content-between gap-4 p-4" style="border-radius: 10px;">
                      <div class='d-flex gap-2 align-items-start'>
                        <input class='mt-2 cursor-pointer' type="radio" name="address" <%= index === 0 ? 'checked' : '' %> value="<%= address._id  %>" required>
                      <div>
                        <h5>
                          <%= address.name %>
                        </h5>
                        <h6>
                          <%= address.city %>
                        </h6>
                        <h6 class='d-flex align-items-center gap-2 m-0' style='color:#8fb23c;'>
                          <% if(address.addressType === 'home') { %>
                            <i class="fa-solid fa-house" style='font-size: 12px;'></i>
                          <% } else {%>
                            <i class="fa-solid fa-briefcase d-flex align-items-end" style='font-size: 12px;'></i>
                          <% } %>
                          <%= address.addressType === 'home' ? ' Home ' : ' Work ' %>
                        </h6>
                        
                      </div>
                      </div>
                      <div class='d-flex flex-column justify-content-between gap-2'>
                        <a href="/user/profile/address/edit/<%= address._id  %>"><i class="fa-solid fa-pen-to-square cursor-pointer"></i></a>
                        <i data-id="<%= address._id  %>" class="fa-solid fa-trash cursor-pointer" style='color: #b27b3c;'></i>
                      </div>
                    </div>
                  <% }) %>
                </div>
                <div class='w-75 d-flex justify-content-start p-4 pt-0'>
                 <a href="/user/profile/add-address"> <button type='button' class='addAddress'>add new address</button></a>
                </div>
              </div>

              <!-- Second part -->
              <div class="placeOrder col-6 d-flex flex-column align-items-center ">
                

                <!-- Discount -->
                <b class='mt-5 mb-2 errorMessage' style='color: rgb(164, 27, 27);'></b>
                <div class="discountArea container p-4 d-flex flex-column gap-3" style='border-radius: 10px;'>
                  <h5>Discount code</h5>
                  <div class="row d-flex justify-content-center gap-3">
                    <input id="couponInput" type="text" class="emailInput col-5 discountInput">
                    <button type='button' id="couponButton" class="col-5 applyButton">APPLY COUPON</button>
                  </div>
                  <p class='greenColor d-none couponSuccess'>Coupon applied successfully</p>
                  <p class='cursor-pointer d-none removeCoupon m-0'>Remove coupon</p>
                </div>
               <% if (balance > 0) { %>
                <div class="discountArea container mt-3 p-4 d-flex flex-column " style='border-radius: 10px;'>
                  <div class="row d-flex justify-content-between align-items-center productsDescription mt-3 mb-4" style='border-top: none;'>
                    <h5 class="col-auto m-0 d-flex align-items-center gap-2"><i class="fa-solid fa-wallet"></i> Wallet balance </h5>
                    <h5 class="col-auto m-0">₹ <%= balance  %></h5>
                   </div>
                   <div class='d-flex align-items-center gap-3 pt-3' style='border-top: 1px solid rgb(230, 230, 230);'>
                    <input type="checkbox" data-balance="<%= balance  %>" class='walletInput'>

                    <h6 for="">Apply wallet balance</h6>
                   </div>
                </div>
              <% } %>
                <!-- Order -->
                <div class="mt-3 discountArea container-fluid p-4" style='border-radius: 10px;'>
                  <h5>Your order</h5>
                 <div class="row d-flex justify-content-between productsDescription mt-3 mb-3 pt-3">
                  <h5 class="col-auto">Products</h5>
                  <h5 class="col-auto">Total</h5>
                 </div>
                 <% let total = 0 %>
                 <% cart.forEach(item => { %>
                  <div class="row d-flex justify-content-between productName">
                  <h6 class="col-auto"><%= item.product.productName %></h6>
                  <h6 class="col-auto">₹ <%= item.product.price * item.quantity %> </h6>
                 </div>
                 <% total += item.product.price * item.quantity  %>
                <% }) %>
                 <div class="row d-flex justify-content-between productsDescription mt-3 mb-3 pt-3">
                  <h5 class="col-auto">Subtotal</h5>
                  <h5 class="col-auto">₹ <%= total  %></h5>
                  <% const subtotal = total %>
                  <input type="number" id='subtotal' hidden value='<%= subtotal  %>'>
                 </div>
                 <div class='codeArea'>
                  <input hidden type="text" class='code' name='code'>
                 </div>
                 <div style='color: #b7692d;' class="row d-flex justify-content-between discountDiv d-none productsDescription mt-3 pt-3 pb-2">
                  <h5 class="col-auto" >Coupon applied</h5>
                  <h5 class="col-auto discountDisplay"></h5>
                 </div>
                 <div style='color: #b7692d;' class="row d-flex justify-content-between walletDiv d-none productsDescription mt-3 pt-3 pb-2">
                  <h5 class="col-auto" >Wallet balance applied</h5>
                  <h5 class="col-auto walletDisplay"></h5>
                 </div>
                 <div class="row d-flex justify-content-between productsDescription totalArea mb-3 pt-3 pb-2">
                  <h5 class="col-auto total" data-total="<%= total  %>">Total</h5>
                  <h5 class="col-auto totalDisplay">₹ <%= total %></h5>
                 </div>
                <input hidden value="<%= total  %>" type="text" name="subtotal" class="subtotalInput">
                <input hidden value="<%= total  %>" type="text" name="total" class="totalInput">
                <input hidden value='<%= locals.balance %>' type="text" name="walletBalance" class="walletBalance">
                <input hidden value='0' type="text" name="walletApplied" class="walletApplied">




                 <h5 class="mt-3 choosePayment">Choose payment method</h5>
                 <div class="d-flex flex-column gap-2 choosePayment">
                  <div class="d-flex gap-3 align-items-center mt-3">
                    <input class='cod' name="paymentMode" value="COD" checked type="radio">
                    <input hidden class='wallet' name="paymentMode" value="wallet" type="radio">
                    <h6 class="m-0">COD</h6>
                  </div>
                  <div class="d-flex gap-3 align-items-center">
                    <input class='upi' name="paymentMode" value="razorpay" type="radio">
                    <h6 class="m-0">UPI / Cards / Netbanking</h6>
                  </div>
                 </div>
                <div class="d-flex align-items-center mt-4 flex-column gap-2">
                    <a href="/user/checkout" class="checkoutButtonLink d-flex justify-content-center w-100"> <button type="submit" class="newButton w-100"><span class="buttonText">PLACE ORDER</span></button></a>

                  <h6 style="color: rgb(204, 59, 30)" id="error" class="mt-2">
                  </h6>
                </div>
                

                </div>
              </div>
            </div>
          </form>
        <script src="/javascripts/user/checkout.js"></script>
        <script src="https://checkout.razorpay.com/v1/checkout.js"></script>

      </body>

      </html>