<%- include('../layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  </head>
  <%- include('../layout/nav.ejs') %>
      <link rel="stylesheet" href="/stylesheets/userStyles/cart.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/userStyles/checkout.css" type="text/css">

      <body class="d-flex align-items-center flex-column marginTop container-fluid gap-0">
          <div class="d-flex col-6 flex-column align-items-center">
            <h3 class="m-0">Edit address</h3>
            <div class="underLine"></div>
          </div>
          <% if( locals.message) { %>
            <h5 class='mt-3' style="color: rgb(25, 116, 25);"><%= locals.message  %></h5>
          <% } %>
          <div class='d-flex justify-content-end' style='width: 578px;'><a href="/user/checkout"><button style='border: none; background-color: rgba(240, 248, 255, 0); text-decoration: underline;'>Go back to checkout</button></a></div>
          <!-- Form Starts  -->
          <form method="post" class="d-flex mt-0 flex-column align-items-center container-fluid w-75">

              <!-- First part -->

                <!-- Name -->
                <div class="email">
                  <span class="emailHead">Name</span>
                  <input type="text" id="name" value='<%= address.name  %>' name="name" required class="emailInput">
                  <p id="name-error"></p>
                </div>

                <!-- Phone number -->
                <div class="email">
                  <span class="emailHead">Phone number</span>
                  <input type="text" id="phone" value='<%= address.number  %>' name="number" required class="emailInput">
                    <p id="number-error"></p>
                </div>

                <!-- Pincode -->
                <div class="email">
                  <span class="emailHead">Pincode</span>
                  <input type="text" id="pincode" value='<%= address.pincode  %>' name="pincode" required class="emailInput">
                  <p id="pincode-error"></p>
                </div>

                <!-- Locality -->
                <div class="email">
                  <span class="emailHead">Locality</span>
                  <input type="text" id="locality" value='<%= address.locality  %>' name="locality" required class="emailInput">
                  <p id="locality-error"></p>
                </div>

                <!-- Address -->
                <div class="d-flex flex-column">
                  <span class="emailHead">Address</span>
                  <textarea cols="30" rows="4" id="address" name="streetAddress" required class="emailInput textArea"><%= address.streetAddress  %></textarea>
                  <div class="d-flex justify-content-between w-100">
                    <p id="address-error"></p>
                  </div>
                </div>

                <!-- City -->
                <div class="email">
                  <span class="emailHead">City / District / Town </span>
                  <input type="text" id="city" name="city" value='<%= address.city  %>' required class="emailInput">
                  <div class="d-flex justify-content-between w-100">
                    <p id="city-error"></p>
                  </div>
                </div>

                <!-- State -->
                <div class="email">
                  <span class="emailHead">State</span>
                  <input type="text" id="state" name="state" value='<%= address.state  %>' required class="emailInput">
                  <div class="d-flex justify-content-between w-100">
                    <p id="state-error"></p>
                  </div>
                </div>

                <!-- Landmark -->
                <div class="email">
                  <span class="emailHead">Landmark (optional)</span>
                  <input type="text" id="landmark" value='<%= address.landmark ? address.landmark : ''  %>' name="landmark" class="emailInput">
                  <div class="d-flex justify-content-between w-100">
                    <p id="landmark-error"></p>
                  </div>
                </div>

                <!-- Address Type -->
                <div class="email gap-2 d-flex">
                  <span class="emailHead mt-4">Address type</span>
                 <div class="gap-2 d-flex">
                  <input type="radio" id="addressType" <%= address.addressType === 'work' ? 'checked' : ''  %> name="addressType" value="work" required>
                  <h6 class="m-0">Work</h6>
                 </div>
                 <div class="d-flex gap-2">
                  <input type="radio" id="addressType"  <%= address.addressType === 'home' ? 'checked' : ''  %>  name="addressType" value="home" required>
                  <h6 class="m-0">Home</h6>
                 </div>
                  <div class="d-flex justify-content-between w-100">
                    <p id="addressType-error"></p>
                  </div>
                </div>
              <button type="submit" class="checkoutButtonLink newButton w-25"><span class="buttonText">Add address</span></button>


          </form>
        <script src="/javascripts/user/productZoom.js"></script>
        <script src="/javascripts/user/checkout.js"></script>

      </body>

      </html>