<%- include('../layout/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userStyles/categoryBar.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userStyles/home.css" type="text/css">
    </head>

    <body>
        <%- include('../layout/nav.ejs') %>
            <%- include('../layout/categoryBar.ejs') %>

                <div class="container home">
                    <h1>Welcome to our website</h1>
                    <p>We offer a wide range of products for all your needs.</p>
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <% products.forEach(function(product) { %>
                            <% if(!product.isDisabled) { %>
                                <div class="d-flex flex-column gap-1">
                                    <a href="/user/products/<%= product._id %>">
                                        <div class="hover">
                                            <div class="card">
                                                <div class="d-flex align-items-center justify-content-center imageDiv">
                                                    <img src="/images/<%=product.images[0].filename %>"
                                                        class="productImg" alt="<%= product.name %>">
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                    <div class="w-100 card cardBottom container">
                                        <div class="row p-1">
                                            <div class="col-6 d-flex flex-column">
                                               <h5> <%= product.productName %>  </h5>
                                                <h6>₹ <%= product.price %></h6>

                                            </div>
                                            <div class="col-6 d-flex justify-content-end align-items-center wishListIcon">
                                                <a class="" href="/user/products/wishlist/<%= product._id %>">
                                                    <i class="fa-regular fa-heart"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                   
                                    
                                </div>
                                <% } %>
                                <% }); %>
                    </div>
                </div>

    </body>

    </html>