<%- include('../layout/header.ejs') %>

  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/categoryBar.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/home.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/wishlist.css" type="text/css">

  </head>

  <body class='d-flex w-100 flex-column align-items-center'>
  <% let address = invoiceData.address %>
  <% let order = invoiceData.order %>
  
    <div class="container my-5">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="fw-bold">Invoice</h1>
  
          <p class="lead m-0">Invoice No. 12345 | Date: 01/04/2023</p>
        </div>
      </div>
      <div class="row d-flex justify-content-start align-items-start" style='border-top: 1px solid rgb(212, 212, 212); border-bottom: 1px solid rgb(212, 212, 212);'>
        <span class='d-flex align-items-center p-2' style=' border-bottom: 1px solid rgb(228, 228, 228);'>
          <p class='w-100 m-0 d-flex justify-content-center'>Order - <%= order._id  %></p>
        </span>

        <div class="w-50 d-flex flex-column justify-content-center align-items-start" style="border-radius: 10px; color: black;">
          <div class='d-flex w-100 p-3'>
            <div class='w-100 d-flex gap-3 flex-column'>
              <h6 class='m-0'>Shipping address</h6>
              <div class='d-flex flex-column align-items-start style=' border-radius: 10px;'>
                <span class='m-0 w-100 d-flex justify-content-between'>
                  <span>Shop bag</span>
                </span>
                <span class='m-0'>Hustle hub</span>
                <span class='m-0'>Somasundarapalaya</span> 
                <span class='m-0'>Bangalore</span> 
                <span class='m-0'>560124</span> 
              </div>
  
            </div>
            
          </div>
          </div>
        <div class="w-50 d-flex flex-column justify-content-center align-items-start gap-3" style="border-radius: 10px; color: black;">
          <div class='d-flex w-100 gap-4 p-3'>
            <div class='w-100 d-flex gap-3 flex-column'>
              <h6 class='m-0'>Billing address</h6>
              <div class='d-flex flex-column align-items-start style='border-radius: 10px;'>
                <span class='m-0 w-100 d-flex justify-content-between'>
                  <span><%= address.name  %></span>
                </span>
                <span class='m-0'><%= address.number  %></span>
                <span class='m-0'><%= address.pincode  %></span> 
                <span class='m-0'><%= address.locality  %></span> 
                <span class='m-0'><%= address.streetAddress  %></span> 
                <% if(address.landmark) {%>
                  <span><%= address.landmark  %></span>
                <% } %>
                <span class='m-0'><%= address.city  %>, <%= address.state  %></span> 
                <span class='m-0'></span> 
              </div>
  
            </div>
            
          </div>
          </div>
      </div>
      <div class="row mt-4">
        <div class="col-12">
          <table class="table">
            <thead>
              <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Total</th>
              </tr>
            </thead>
            <tbody>
              <% let sum  = 0 %>

              <% order.products.forEach(product => { %>
                <tr>
                  <td><%= product.product.productName  %></td>
                  <td><%= product.quantity %></td>
                  <td><%= product.product.price  %></td>
                  <td><%= product.product.price * product.quantity  %></td>
                  <% let totalSum = product.product.price * product.quantity %>
                  <% sum += totalSum %>
                </tr>
              <% }) %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
          <table class="table">
            <tbody>
              <tr>
                <td>Subtotal</td>
                <td>₹ <%= sum  %></td>
              </tr>
              <tr>
                <td>Total</td>
                <td>₹ <%= sum  %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS -->
  </body>

  </html>