<%- include('../layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/categoryBar.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/home.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/userStyles/wishlist.css" type="text/css">

  </head>

  <body class="d-flex flex-column w-100 align-items-center">
    <%- include('../layout/nav.ejs') %>
        <div class="d-flex flex-column align-items-center mb-5" style='margin-top: 100px;'>
          <h3 class="m-0">Order details</h3>
          <div class="underLine"></div>
        </div>
        <div class="p-3 w-75  d-flex flex-column justify-content-center cursor-pointer align-items-start gap-3" style="border-radius: 10px; color: black; background-color: #f4f5f4;">
          <span class='d-flex align-items-end gap-2 w-100 justify-content-start'><h6 class='m-0'>Order Id:</h6><span style='font-size: 12px;'><%= orders._id  %></span></span>
          <div class='d-flex w-100 gap-4'>
            <div class='w-100  d-flex gap-3 flex-column'>
               <!-- <h5><%= orders %></h5> -->
               <h5><%= orders.address.name  %></h5>
               
              <% orders.products.forEach(product => { %>
                <div class='ps-2 d-flex gap-3 align-items-center justify-content-between' style='background-color: #e3e3e3; border-radius: 10px;'>
                  <div class='d-flex align-items-center gap-3'>
                    <img style="width: 90px;" src="/images/<%= product.product.images[0].filename%>" alt="">
                    <div>
                      <h6 class='m-0'><%= product.product.productName  %></h6>
                      <span style='font-size: 12px;'>Quantity: <%= product.quantity  %></span>
                    </div>
                  </div>
                  <span class='d-flex align-items-center m-3' style='font-weight: 400;'>₹  <%= product.product.price  %></span>
                </div>
              <% })%>
            </div>
            <div class='w-25 d-flex flex-column align-items-start gap-2  p-3' style='background-color: #eeeeed; border-radius: 10px;'>
              <span class='d-flex justify-content-between w-100 align-items-center gap-2 p-3' style='height: auto; font-size: 12px; background-color: #e6e6e6; border-radius: 10px;'><span>Order date: </span><h6 class='m-0'><%= orders.orderDate.toLocaleDateString('en-US', { month: 'short', day: 'numeric', year: 'numeric' }); %></h6></span>
              <span class='d-flex justify-content-between w-100 align-items-center gap-2 p-3' style='height: auto; font-size: 12px; background-color: #e6e6e6; border-radius: 10px;'><span>Order status: </span><h6 class='m-0'><%= orders.orderStatus.charAt(0).toUpperCase()+ orders.orderStatus.slice(1) %></h6></span>
              <span class='d-flex justify-content-between w-100 align-items-center gap-2 p-3' style='color: rgb(154, 34, 34); height: auto; font-size: 12px; background-color: #e6e6e6; border-radius: 10px;'><span>Order total: </span><h6 class='m-0'>₹  <%= orders.total %></h6></span>
            </div>
          </div>
       </div>

  </body>
  <script src="/javascripts/user/wishlist.js"></script>

  </html>