<%- include('../layout/header.ejs') %>
    <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/userStyles/productPage.css" type="text/css">
    </head>

    <body class="d-flex align-items-center justify-content-center flex-column marginTop container-fluid">
        <%- include('../layout/nav.ejs') %>
            <%- include('../layout/categoryBar.ejs') %>
                <h3 class="mb-5">Product details</h3>
                <div class="d-flex justify-content-center row gap-3">
                    <div class="col-6 row d-flex flex-column align-items-end">
                        <img src="/images/<%=product.images[0].filename %>" class="defaultImage col-8 d-flex card"
                            alt="<%= product.name %>">
                            <div class="row col-8 d-flex justify-content-between alternateImages">
                                <img src="/images/<%=product.images[1].filename %>" class="col-3"
                                    alt="<%= product.name %>">
                                <img src="/images/<%=product.images[2].filename %>" class="col-3"
                                    alt="<%= product.name %>">
                                <img src="/images/<%=product.images[3].filename %>" class="col-3"
                                    alt="<%= product.name %>">
                            </div>
                        <div class="product-image-zoom">
                        </div>
                    </div>
                    <div class="container col-6 card-body d-flex flex-column">
                        <div class="row">
                            <h3 class="card-title">
                                <%= product.productName %>
                            </h3>
                            <h5>₹&nbsp;<%= product.price %>
                                    <h5>
                                        <p class="card-text">
                                            <%= product.productCategory.name %>
                                        </p>
                                        <h5>
                                            <%= product.productSubcategory.name %>
                                        </h5>
                                        <p class="text-danger">
                                            <% if(product.isDisabled) { %>
                                                Product not available
                                                <% } %>
                                        </p>
                                        <p class="card-text description">
                                            <%= product.description %>
                                        </p>
                        </div>
                    </div>

                </div>
                <script src="/javascripts/user/productZoom.js"></script>
    </body>

    </html>