<%- include('../layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  </head>
  <%- include('../layout/nav.ejs') %>
      <link rel="stylesheet" href="/stylesheets/userStyles/cart.css" type="text/css">
      <link rel="stylesheet" href="/stylesheets/userStyles/checkout.css" type="text/css">

      <body class="d-flex align-items-center flex-column marginTop container-fluid gap-4">
          <div class="d-flex col-6 flex-column align-items-center">
            <h3 class="m-0">Razorpay</h3>
            <div class="underLine"></div>
          </div>
        
          <!-- Form Starts  -->
          <button  data-total="<%= locals.form.total  %>" id='rzp-button1'>pay</button>
          <form class='d-none' action="razorpayOnlineSuccess" method='post'>
            <input type="text" name='total' value='<%= locals.form.total %>'>
            <input type="text" name='address' value='<%= locals.form.address %>'>
            <input type="text" name='paymentMode' value='<%= locals.form.paymentMode   %>'>
            <input type="text" name='code' value='<%= locals.form.code %>'>

            <button type='submit'></button>
          </form>

      </body>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="/javascripts/user/razorpay.js"></script>



      </html>