  <%- include('../../layout/header.ejs') %>
  <link rel="stylesheet" href="/stylesheets/userStyles/userSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/adminStyles/adminSignIn.css" type="text/css">
  <link rel="stylesheet" href="/stylesheets/adminStyles/productEdit.css" type="text/css">
  
  </head>
  
  <body class="productAdd">
  <%- include('../../layout/adminNav.ejs') %>
  
  
    <div class="topMargin d-flex flex-column align-items-center justify-content-center gap-2">
      <h1 class="mt-5">Product Edit</h1>
      <h6>
        <% if(locals.success){ %>
          <span style="color: rgb(96, 156, 96)">
            <b>
              <%= locals.productName %>
            </b> added succesfully</span>
          </span>
        <% } else if (!locals.success) { %>
          <span style="color: rgb(169, 12, 12)">
            <b>
              <%= locals.message %>
            </b> </span>
          </span>
         <% } %> 
      </h6>
      <form class="w-50 container" method="post" action="/admin/products/edit/<%= locals.product._id  %>"
        enctype="multipart/form-data">
        <div class="row gap-1">
  
  
          <!-- Product name input -->
          <div class="mb-3">
            <label for="productName" class="form-label">Product Name</label>
            <input id="productName" type="text" name="productName"  value="<%= locals.product.productName %>"
            class="form-control" id="productName"
            placeholder="Enter product name">
            <p id="productNameError"></p>
          </div>
  
          <!-- Product description input -->
          <div class="mb-3">
            <label for="description" class="form-label">Product Description</label>
            <textarea id="productDescription" class="form-control" name="description" id="productDescription"
              rows="3"><%= locals.product.description %></textarea>
            <p id="descriptionError"></p>
          </div>
  
          <!-- Product image input -->
          <div class="mb-3 container">
            <div class="row imageArea gap-2">
              <input id="productImage" class="inputTest" name="images" type="file" accept="image/*" multiple>
              <img class="previewTest"  src="/images/1678986885063.png" alt="">
  
  
              <% product.images.forEach((image, i) => { %>
               <input  data-index="<%= i %>" id="productImage" class="form-control col-auto inputImage" name="images" type="file" accept="image/*" multiple>
              <% }); %>
                
              <div class="d-flex row gap-2">
                <div class="row imageArea gap-2">
                  <p class="currentImg m-0 text-dark">Click on images you need to change</p>
                  <div class="d-flex gap-2 row">
                    <% product.images.forEach((image, i) => { %>
                      <img class="img-fluid col-2 cursor-pointer imagePreview" data-index="<%= i %>" src="/images/<%= image.filename %>" alt="">
                    <% }); %>
                    <p id="fileError"></p>
                  </div>
                </div>
  
  
              </div>
              
             
            </div>
  
          </div>
  
          <!-- Product price -->
          <div class="mb-3">
            <label for="productPrice" class="form-label">Product Price</label>
            <input  value = <%= locals.product.price %>  type="number" name="price" class="form-control" id="productPrice"
              placeholder="Enter product price" required>
          </div>
  
          <!-- Product stock input -->
          <div class="mb-3">
            <label for="productStock" class="form-label">Product Initial Stock</label>
            <input value = <%= locals.product.stock %>   type="number" name="stock" class="form-control" id="productStock"
              placeholder="Enter product stock">
          </div>
  
          <!-- Product category input -->
          <div class="mb-3">
            <label for="productCategory" class="form-label">Product Category</label>
            <select class="form-select" name="productCategory" id="productCategory" aria-label="Product Category">
              <option value="<%= locals.product.productCategory._id %>" selected><%= locals.product.productCategory.name %></option>
              <% categories.forEach(function(category) { %>
                <% if (category.isActive) { %>
                  <option value="<%= category._id %>">
                    <%= category.name %>
                  </option>
                  <% } %>
                    <% }); %>
            </select>
          </div>
  
          <!-- Product subcategory input -->
          <div class="mb-3">
            <label for="productSubCategory" name="productSubCategory" class="form-label">Product Subcategory</label>
            <select name="productSubcategory" class="form-select" id="productSubcategory"
              aria-label="Product Subcategory">
              <option value="<%= locals.product.productSubcategory._id %>" selected><%= locals.product.productSubcategory.name %></option>
              <% subcategories.forEach(function(subcategory) { %>
                <% if (subcategory.isActive) { %>
                  <option value="<%= subcategory._id %>">
                    <%= subcategory.name %>
                  </option>
                  <% } %>
                    <% }); %>
            </select>
          </div>
  
          <!-- Submit -->
          <div class="mt-3 d-flex justify-content-center">
            <button type="submit" class="btn w-50 enableBtn">Add Product</button>
  
          </div>
          <h6 style="color: rgb(204, 59, 30)" id="error" class="mt-2 d-flex justify-content-center">
          </h6>
  
  
        </div>
      </form>
    </div>
    <script src="/validation/admin/productEdit.js"></script>
  </body>
  
  </html>
  
  </div> 
  